body { 
    background-color: #050000; 
    color: #ff3131; 
    font-family: 'Consolas', monospace; 
}

.cyber-title { letter-spacing: 4px; text-shadow: 0 0 10px #ff3131; font-weight: bold; }

.terminal-card { 
    background-color: #1a0000; 
    border: 1px solid #ff3131; 
    border-radius: 0;
}

.input-cyber { 
    background-color: #000 !important; 
    color: #ff3131 !important; 
    border: 1px solid #ff3131 !important; 
    border-radius: 0;
}

.console-output { 
    background-color: #000; 
    border: 1px solid #ff3131; 
    height: 380px; 
    overflow-y: auto; 
    padding: 20px;
    font-size: 1rem;
    box-shadow: inset 0 0 20px #330000;
}

.console-output div, .console-output p, .console-output span {
    color: #ff3131 !important;
}

/* LA IP EN VERDE BRILLANTE */
.ip-box { 
    color: #000000 !important; 
    background-color: #00ff00; 
    padding: 2px 8px;
    font-weight: bold;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.error-msg { 
    color: #ff3131 !important; 
    border: 1px dashed #ff3131; 
    background-color: transparent; 
    padding: 15px; 
    margin-top: 10px;
    font-weight: bold;
}

.footer-credits {
    font-size: 0.85rem;
    color: #666;
    border-top: 1px solid #220000;
    padding-top: 15px;
}

.status-bar { font-size: 0.75rem; color: #888; text-transform: uppercase; }

.console-output::-webkit-scrollbar { width: 6px; }
.console-output::-webkit-scrollbar-thumb { background: #ff3131; }